In [1]:
# Importando as bibliotecas
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
req = requests.get('https://www.basketball-reference.com/leagues/NBA_2018_totals.html')

if req.status_code == 200:
  print('Requisição bem sucedida!')
  content = req.content

Requisição bem sucedida!

In [3]:
# Extraindo a tabela de dados
soup = BeautifulSoup(content, 'html.parser')
table = soup.find(name='table')

In [4]:
type(table)

bs4.element.Tag

In [5]:
# Convertendo a tabela para um Data Frame
table_str = str(table)
df = pd.read_html(table_str)[0]

In [6]:
df.head(5)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Álex Abrines,SG,24,OKC,75,8,1134,115,291,...,.848,26,88,114,28,38,8,25,124,353
1,2,Quincy Acy,PF,27,BRK,70,8,1359,130,365,...,.817,40,217,257,57,33,29,60,149,411
2,3,Steven Adams,C,24,OKC,76,76,2487,448,712,...,.559,384,301,685,88,92,78,128,215,1056
3,4,Bam Adebayo,C,20,MIA,69,19,1368,174,340,...,.721,118,263,381,101,32,41,66,138,477
4,5,Arron Afflalo,SG,32,ORL,53,3,682,65,162,...,.846,4,62,66,30,4,9,21,56,179